{% import "_includes/forms" as forms %}
{% import "tarteaucitron/settings/macros" as macros %}

<div class="bar bar--secondary">
    {{ 'Include this code in all pages where you want tarteaucitron to be loaded :'|t('tarteaucitron')|raw }}<br>
    {{ forms.textAreaField({
        id: 'tarteaucitronInitCallExample',
        value: "{{ craft.tarteaucitron.initScript }}",
        rows: 1,
        disabled: true
    }) }}
</div>


<div class="flex align-start">
    <div class="fit-container">
        {{ forms.textField({
            label: "Hashtag"|t('tarteaucitron'),
            id: 'hashtag',
            name: 'hashtag',
            instructions: "Open panel automatically with this hashtag in URL"|t('tarteaucitron'),
            value: settings.hashtag,
            required: true,
            disabled: 'hashtag' in overrides,
            warning: 'hashtag' in overrides ? macros.configWarning('hashtag'),
            errors: settings.getErrors('hashtag')
        }) }}

        {{ forms.lightswitchField({
            label: "High Privacy"|t('tarteaucitron'),
            id: 'highPrivacy',
            name: 'highPrivacy',
            instructions: "Disable implied consent (while browsing)"|t('tarteaucitron'),
            on: settings.highPrivacy,
            toggle: true,
            required: true,
            disabled: 'highPrivacy' in overrides,
            warning: 'highPrivacy' in overrides ? macros.configWarning('highPrivacy'),
            errors: settings.getErrors('highPrivacy')
        }) }}

        {{ forms.lightswitchField({
            label: "Accept all CTA"|t('tarteaucitron'),
            id: 'acceptAllCta',
            name: 'acceptAllCta',
            instructions: "Show the accept all button when highPrivacy on"|t('tarteaucitron'),
            on: settings.acceptAllCta,
            toggle: true,
            required: true,
            disabled: 'acceptAllCta' in overrides,
            warning: 'acceptAllCta' in overrides ? macros.configWarning('acceptAllCta'),
            errors: settings.getErrors('acceptAllCta')
        }) }}

        {{ forms.selectField({
            label: "Orientation"|t('tarteaucitron'),
            id: 'orientation',
            name: 'orientation',
            instructions: "Banner position"|t('tarteaucitron'),
            value: settings.orientation,
            required: true,
            options: [
                {
                    'label': 'Top',
                    'value': 'top'
                },
                {
                    'label': 'Bottom',
                    'value': 'bottom'
                }
            ],
            disabled: 'orientation' in overrides,
            warning: 'orientation' in overrides ? macros.configWarning('orientation'),
            errors: settings.getErrors('orientation')
        }) }}

        {{ forms.lightswitchField({
            label: "Adblocker"|t('tarteaucitron'),
            id: 'adblocker',
            name: 'adblocker',
            instructions: "Display a message if an adblocker is detected"|t('tarteaucitron'),
            on: settings.adblocker,
            toggle: true,
            required: true,
            disabled: 'adblocker' in overrides,
            warning: 'adblocker' in overrides ? macros.configWarning('adblocker'),
            errors: settings.getErrors('adblocker')
        }) }}

        {{ forms.lightswitchField({
            label: "Show small alert"|t('tarteaucitron'),
            id: 'showAlertSmall',
            name: 'showAlertSmall',
            instructions: "Display the small banner at the bottom right"|t('tarteaucitron'),
            on: settings.showAlertSmall,
            toggle: true,
            required: true,
            disabled: 'showAlertSmall' in overrides,
            warning: 'showAlertSmall' in overrides ? macros.configWarning('showAlertSmall'),
            errors: settings.getErrors('showAlertSmall')
        }) }}

        {{ forms.lightswitchField({
            label: "Cookies list"|t('tarteaucitron'),
            id: 'cookieslist',
            name: 'cookieslist',
            instructions: "View the list of installed cookies"|t('tarteaucitron'),
            on: settings.cookieslist,
            toggle: true,
            required: true,
            disabled: 'cookieslist' in overrides,
            warning: 'cookieslist' in overrides ? macros.configWarning('cookieslist'),
            errors: settings.getErrors('cookieslist')
        }) }}
    </div>

    <div class="fit-container">

        {{ forms.lightswitchField({
            label: "Remove credit"|t('tarteaucitron'),
            id: 'removeCredit',
            name: 'removeCredit',
            instructions: "Delete the link to the source"|t('tarteaucitron'),
            on: settings.removeCredit,
            toggle: true,
            required: true,
            disabled: 'removeCredit' in overrides,
            warning: 'removeCredit' in overrides ? macros.configWarning('removeCredit'),
            errors: settings.getErrors('removeCredit')
        }) }}

        {{ forms.lightswitchField({
            label: "Handle browser DNT request"|t('tarteaucitron'),
            id: 'handleBrowserDNTRequest',
            name: 'handleBrowserDNTRequest',
            instructions: "Respond to the DoNotTrack request"|t('tarteaucitron'),
            on: settings.handleBrowserDNTRequest,
            toggle: true,
            required: true,
            disabled: 'handleBrowserDNTRequest' in overrides,
            warning: 'handleBrowserDNTRequest' in overrides ? macros.configWarning('handleBrowserDNTRequest'),
            errors: settings.getErrors('handleBrowserDNTRequest')
        }) }}

        {{ forms.textField({
            label: "Cookie domain"|t('tarteaucitron'),
            id: 'cookieDomain',
            name: 'cookieDomain',
            instructions: "Optional - Domain name on which the cookie will be placed (for multisites / subdomains)"|t('tarteaucitron'),
            value: settings.cookieDomain,
            disabled: 'cookieDomain' in overrides,
            warning: 'cookieDomain' in overrides ? macros.configWarning('cookieDomain'),
            errors: settings.getErrors('cookieDomain')
        }) }}

        {{ forms.textAreaField({
            label: "Custom CSS"|t('tarteaucitron'),
            id: 'customCss',
            name: 'customCss',
            instructions: "Set custom CSS for tarteaucitron.js"|t('tarteaucitron'),
            value: settings.customCss,
            disabled: 'customCss' in overrides,
            warning: 'customCss' in overrides ? macros.configWarning('customCss'),
            errors: settings.getErrors('customCss')
        }) }}
    </div>

</div>
