{% do view.registerAssetBundle("lahautesociete\\tarteaucitron\\bundles\\SettingsBundle") %}

{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
    {% set setting = '<code>'~setting~'</code>' %}
    {{ "This is being overridden by the {setting} config setting in your {file} config file."|t('tarteaucitron', {
        setting: setting,
        file: 'config.php'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{{ forms.textField({
    label: "Hashtag"|t,
    id: 'hashtag',
    name: 'hashtag',
    instructions: "Open panel automatically with this hashtag in URL",
    value: settings.hashtag,
    required: true,
    disabled: 'hashtag' in overrides,
    warning: 'hashtag' in overrides ? configWarning('hashtag'),
    errors: settings.getErrors('hashtag')
}) }}

{#<hr>#}
{#<div class="field" id="settings-prependSender-field">#}
  {#<div class="heading">#}
    {#<label id="settings-checkboxes-default-mode-label">{{ 'Checkboxes default mode'|t }}</label>#}
    {#<div class="instructions">#}
      {#<p>{{ "Can be found by accessing {url} in \"Dialog\" tab."|t({url: 'https://manage.cookiebot.com/en/manage'}) }}</p>#}
    {#</div>#}
  {#</div>#}
{#</div>#}

{{ forms.lightswitchField({
    label: "High Privacy"|t,
    id: 'highPrivacy',
    name: 'highPrivacy',
    instructions: "Disable implied consent (while browsing)",
    on: settings.highPrivacy,
    toggle: true,
    required: true,
    disabled: 'highPrivacy' in overrides,
    warning: 'highPrivacy' in overrides ? configWarning('highPrivacy'),
    errors: settings.getErrors('highPrivacy')
}) }}

{{ forms.selectField({
    label: "Orientation"|t,
    id: 'orientation',
    name: 'orientation',
    instructions: "Banner position",
    value: settings.orientation,
    required: true,
    options: orientationOptions,
    disabled: 'orientation' in overrides,
    warning: 'orientation' in overrides ? configWarning('orientation'),
    errors: settings.getErrors('orientation')
}) }}

{{ forms.lightswitchField({
    label: "Adblocker"|t,
    id: 'adblocker',
    name: 'adblocker',
    instructions: "Display a message if an adblocker is detected",
    on: settings.adblocker,
    toggle: true,
    required: true,
    disabled: 'adblocker' in overrides,
    warning: 'adblocker' in overrides ? configWarning('adblocker'),
    errors: settings.getErrors('adblocker')
}) }}

{{ forms.lightswitchField({
    label: "Show small alert"|t,
    id: 'showAlertSmall',
    name: 'showAlertSmall',
    instructions: "Display the small banner at the bottom right",
    on: settings.showAlertSmall,
    toggle: true,
    required: true,
    disabled: 'showAlertSmall' in overrides,
    warning: 'showAlertSmall' in overrides ? configWarning('showAlertSmall'),
    errors: settings.getErrors('showAlertSmall')
}) }}

{{ forms.lightswitchField({
    label: "Cookies list"|t,
    id: 'cookieslist',
    name: 'cookieslist',
    instructions: "View the list of installed cookies",
    on: settings.cookieslist,
    toggle: true,
    required: true,
    disabled: 'cookieslist' in overrides,
    warning: 'cookieslist' in overrides ? configWarning('cookieslist'),
    errors: settings.getErrors('cookieslist')
}) }}

{{ forms.lightswitchField({
    label: "Remove credit"|t,
    id: 'removeCredit',
    name: 'removeCredit',
    instructions: "Delete the link to the source",
    on: settings.removeCredit,
    toggle: true,
    required: true,
    disabled: 'removeCredit' in overrides,
    warning: 'removeCredit' in overrides ? configWarning('removeCredit'),
    errors: settings.getErrors('removeCredit')
}) }}

{{ forms.lightswitchField({
    label: "Handle browser DNT request"|t,
    id: 'handleBrowserDNTRequest',
    name: 'handleBrowserDNTRequest',
    instructions: "Respond to the DoNotTrack request",
    on: settings.handleBrowserDNTRequest,
    toggle: true,
    required: true,
    disabled: 'handleBrowserDNTRequest' in overrides,
    warning: 'handleBrowserDNTRequest' in overrides ? configWarning('handleBrowserDNTRequest'),
    errors: settings.getErrors('handleBrowserDNTRequest')
}) }}

{{ forms.textField({
    label: "Cookie domain"|t,
    id: 'cookieDomain',
    name: 'cookieDomain',
    instructions: "Optional - Domain name on which the cookie will be placed (for multisites / subdomains)",
    value: settings.cookieDomain,
    disabled: 'cookieDomain' in overrides,
    warning: 'cookieDomain' in overrides ? configWarning('cookieDomain'),
    errors: settings.getErrors('cookieDomain')
}) }}

{{ forms.textAreaField({
    label: "Custom CSS"|t,
    id: 'customCss',
    name: 'customCss',
    instructions: "Set custom CSS for tarteaucitron.js.",
    value: settings.customCss,
    disabled: 'customCss' in overrides,
    warning: 'customCss' in overrides ? configWarning('customCss'),
    errors: settings.getErrors('customCss')
}) }}



{{ forms.lightswitchField({
    label: "Activate Google Tag Manager ?"|t,
    id: 'isGoogleTagManagerEnabled',
    name: 'isGoogleTagManagerEnabled',
    on: settings.isGoogleTagManagerEnabled,
    toggle: true,
    disabled: 'isGoogleTagManagerEnabled' in overrides,
    warning: 'isGoogleTagManagerEnabled' in overrides ? configWarning('isGoogleTagManagerEnabled'),
    errors: settings.getErrors('isGoogleTagManagerEnabled')
}) }}

{{ forms.textField({
    label: "Google Tag Manager ID"|t,
    id: 'googleTagManagerId',
    name: 'googleTagManagerId',
    value: settings.googleTagManagerId,
    required: true,
    disabled: 'googleTagManagerId' in overrides,
    warning: 'googleTagManagerId' in overrides ? configWarning('googleTagManagerId'),
    errors: settings.getErrors('googleTagManagerId')
}) }}

{{ forms.lightswitchField({
    label: "Activate reCAPTCHA ?"|t,
    id: 'isReCaptchaEnabled',
    name: 'isReCaptchaEnabled',
    on: settings.isReCaptchaEnabled,
    toggle: true,
    disabled: 'isReCaptchaEnabled' in overrides,
    warning: 'isReCaptchaEnabled' in overrides ? configWarning('isReCaptchaEnabled'),
    errors: settings.getErrors('isReCaptchaEnabled')
}) }}

{{ forms.textField({
    label: "reCAPTCHA site key"|t,
    id: 'reCaptchaSiteKey',
    name: 'reCaptchaSiteKey',
    value: settings.reCaptchaSiteKey,
    required: true,
    disabled: 'reCaptchaSiteKey' in overrides,
    warning: 'reCaptchaSiteKey' in overrides ? configWarning('reCaptchaSiteKey'),
    errors: settings.getErrors('reCaptchaSiteKey')
}) }}

{{ forms.lightswitchField({
    label: "Activate Google Analytics (universal) ?"|t,
    id: 'isGoogleAnalyticsUniversalEnabled',
    name: 'isGoogleAnalyticsUniversalEnabled',
    on: settings.isGoogleAnalyticsUniversalEnabled,
    toggle: true,
    disabled: 'isGoogleAnalyticsUniversalEnabled' in overrides,
    warning: 'isGoogleAnalyticsUniversalEnabled' in overrides ? configWarning('isGoogleAnalyticsUniversalEnabled'),
    errors: settings.getErrors('isGoogleAnalyticsUniversalEnabled')
}) }}

{{ forms.textField({
    label: "Analytics UA"|t,
    id: 'googleAnalyticsUniversalUa',
    name: 'googleAnalyticsUniversalUa',
    value: settings.googleAnalyticsUniversalUa,
    required: true,
    disabled: 'googleAnalyticsUniversalUa' in overrides,
    warning: 'googleAnalyticsUniversalUa' in overrides ? configWarning('googleAnalyticsUniversalUa'),
    errors: settings.getErrors('googleAnalyticsUniversalUa')
}) }}

{{ forms.textField({
    label: "Additional Javascript"|t,
    id: 'googleAnalyticsUniversalMore',
    name: 'googleAnalyticsUniversalMore',
    instructions: "Optional - Add here your optional ga.push()",
    value: settings.googleAnalyticsUniversalMore,
    disabled: 'googleAnalyticsUniversalMore' in overrides,
    warning: 'googleAnalyticsUniversalMore' in overrides ? configWarning('googleAnalyticsUniversalMore'),
    errors: settings.getErrors('googleAnalyticsUniversalMore')
}) }}