<div class="tarteaucitron-settings">
    <div class="bar bar--info">{{ 'The official documentation of tarteaucitron.js available here:'|t('tarteaucitron') }} <a href="{{ 'https://opt-out.ferank.eu/en/install/'|t('tarteaucitron') }}" target="_blank">{{ 'https://opt-out.ferank.eu/en/install/'|t('tarteaucitron') }}</a></div>
    <br>

    <h2>{{ 'Configuration'|t('tarteaucitron') }}</h2>
    <hr>
    {% include 'tarteaucitron/settings/core' %}

    <h2>{{ 'Services'|t('tarteaucitron') }}</h2>
    <hr>
    {% include 'tarteaucitron/settings/services/facebook-pixel' %}
    {% include 'tarteaucitron/settings/services/google-adwords-conversion' %}
    {% include 'tarteaucitron/settings/services/google-adwords-remarketing' %}
    {% include 'tarteaucitron/settings/services/google-analytics-universal' %}
    {% include 'tarteaucitron/settings/services/google-maps' %}
    {% include 'tarteaucitron/settings/services/google-tag-manager' %}
    {% include 'tarteaucitron/settings/services/linkedin' %}
    {% include 'tarteaucitron/settings/services/recaptcha' %}
    {% include 'tarteaucitron/settings/services/twitter' %}
    {% include 'tarteaucitron/settings/services/vimeo' %}
    {% include 'tarteaucitron/settings/services/youtube' %}
</div>
