{% embed "tarteaucitron/settings/service" with {"id": "facebook-pixel"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isFacebookPixelEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isFacebookPixelEnabled') }}</div>
        {% endif %}
        {{ 'Facebook Pixel'|t('tarteaucitron') }}
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isFacebookPixelEnabled',
            name: 'isFacebookPixelEnabled',
            on: settings.isFacebookPixelEnabled,
            toggle: true,
            errors: settings.getErrors('isFacebookPixelEnabled'),
            disabled: 'isFacebookPixelEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "Facebook Pixel ID"|t('tarteaucitron'),
            id: 'facebookPixelId',
            name: 'facebookPixelId',
            value: settings.facebookPixelId,
            required: true,
            warning: 'facebookPixelId' in overrides ? macros.configWarning('facebookPixelId'),
            disabled: 'facebookPixelId' in overrides,
            errors: settings.getErrors('facebookPixelId')
        }) }}

        {{ forms.textField({
            label: "Additional Javascript"|t('tarteaucitron'),
            id: 'facebookPixelMore',
            name: 'facebookPixelMore',
            instructions: '[Optional] Some javascript code to be executed when the {service} service has been loaded.'|t('tarteaucitron', { service: 'Facebook Pixel' }),
            value: settings.facebookPixelMore,
            warning: 'facebookPixelMore' in overrides ? macros.configWarning('facebookPixelMore'),
            disabled: 'facebookPixelMore' in overrides,
            errors: settings.getErrors('facebookPixelMore')
        }) }}
    {% endblock %}
{% endembed %}
