{% embed "tarteaucitron/settings/service" with {"id": "google-maps"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isGoogleMapsEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isGoogleMapsEnabled') }}</div>
        {% endif %}
        {{ 'Google Maps'|t('tarteaucitron') }}
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isGoogleMapsEnabled',
            name: 'isGoogleMapsEnabled',
            on: settings.isGoogleMapsEnabled,
            toggle: true,
            errors: settings.getErrors('isGoogleMapsEnabled'),
            disabled: 'isGoogleMapsEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label:    "Google Maps API key"|t('tarteaucitron'),
            id:       'googleMapsAPIKey',
            name:     'googleMapsAPIKey',
            value:    settings.googleMapsAPIKey,
            required: true,
            warning:  'googleMapsAPIKey' in overrides ? macros.configWarning('googleMapsAPIKey'),
            disabled: 'googleMapsAPIKey' in overrides,
            errors:   settings.getErrors('googleMapsAPIKey'),
        }) }}

        {{ forms.textField({
            label:        'Callback name'|t('tarteaucitron'),
            name:         'googleMapsCallbackName',
            instructions: 'The name of a globally-defined Javascript function to call when the API is ready.'|t('tarteaucitron'),
            value:        settings.googleMapsCallbackName,
            warning:      'googleMapsCallbackName' in overrides ? macros.configWarning('googleMapsCallbackName'),
            disabled:     'googleMapsCallbackName' in overrides,
            errors:       settings.getErrors('googleMapsCallbackName'),
        }) }}

        {{ forms.checkboxGroupField({
            label:        'Libraries'|t('tarteaucitron'),
            instructions: 'Additional Google Maps libraries to load.'|t('tarteaucitron'),
            name:         'googleMapsLibraries',
            options:      [
                { label: 'Drawing',       disabled: 'googleMapsLibraries' in overrides, value: 'drawing' },
                { label: 'Geometry',      disabled: 'googleMapsLibraries' in overrides, value: 'geometry' },
                { label: 'Places',        disabled: 'googleMapsLibraries' in overrides, value: 'places' },
                { label: 'Visualization', disabled: 'googleMapsLibraries' in overrides, value: 'visualization' },
            ],
            values:   settings.googleMapsLibraries,
            warning:  'googleMapsLibraries' in overrides ? macros.configWarning('googleMapsLibraries'),
            disabled: 'googleMapsLibraries' in overrides,
            errors:   settings.getErrors('googleMapsLibraries'),
        }) }}

        <p>{{ 'Include this code where you want to instantiate {service}:'|t('tarteaucitron', { service: 'Google Maps' }) }}</p>
        {{ forms.textAreaField({
            id: 'googleMapsCallExample',
            value: "
{{ craft.tarteaucitron.googleMaps({
    zoom: ZOOM,
    latitude: LATITUDE,
    longitude: LONGITUDE,
    width: 'WIDTH',
    height: 'HEIGHT',
    htmlAttributes: {} {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
