{% embed "tarteaucitron/settings/service" with {"id": "reCAPTCHA"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron/settings/macros" as macros %}

    {% block name %}
        {% if 'isReCAPTCHAEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isReCAPTCHAEnabled') }}</div>
        {% endif %}
        {{ 'reCAPTCHA'|t('tarteaucitron') }}
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isReCAPTCHAEnabled',
            name: 'isReCAPTCHAEnabled',
            on: settings.isReCAPTCHAEnabled,
            toggle: true,
            errors: settings.getErrors('isReCAPTCHAEnabled'),
            disabled: 'isReCAPTCHAEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "reCAPTCHA site key"|t('tarteaucitron'),
            id: 'reCAPTCHASiteKey',
            name: 'reCAPTCHASiteKey',
            value: settings.reCAPTCHASiteKey,
            required: true,
            warning: 'reCAPTCHASiteKey' in overrides ? macros.configWarning('reCAPTCHASiteKey'),
            disabled: 'reCAPTCHASiteKey' in overrides,
            errors: settings.getErrors('reCAPTCHASiteKey')
        }) }}

        {{ forms.textField({
            label: "Additional Javascript"|t('tarteaucitron'),
            id: 'reCAPTCHAMore',
            name: 'reCAPTCHAMore',
            instructions: '[Optional] Some javascript code to be executed when the {service} service has been loaded.'|t('tarteaucitron', { service: 'reCAPTCHA' }),
            value: settings.reCAPTCHAMore,
            required: true,
            warning: 'reCAPTCHAMore' in overrides ? macros.configWarning('reCAPTCHAMore'),
            disabled: 'reCAPTCHAMore' in overrides,
            errors: settings.getErrors('reCAPTCHAMore'),
        }) }}

        <p>{{ 'Include this code where you want to instantiate {service}:'|t('tarteaucitron', { service: 'reCAPTCHA'}) }}</p>
        {{ forms.textAreaField({
            id: 'reCAPTCHACallExample',
            value: "{{ craft.tarteaucitron.reCAPTCHA({
    htmlAttributes: YOUR_HTML_OPTIONS  {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
