{% embed "tarteaucitron-js/settings/services/template.twig" with {"id": "reCAPTCHA"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isReCAPTCHAEnabled' in overrides %}
            <div class="info warning">{{ macros.configWarning('isReCAPTCHAEnabled') }}</div>
        {% endif %}
        reCAPTCHA
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id: 'isReCAPTCHAEnabled',
            name: 'isReCAPTCHAEnabled',
            on: settings.isReCAPTCHAEnabled,
            toggle: true,
            errors: settings.getErrors('isReCAPTCHAEnabled'),
            disabled: 'isReCAPTCHAEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        {{ forms.textField({
            label: "reCAPTCHA site key"|t,
            id: 'reCAPTCHASiteKey',
            name: 'reCAPTCHASiteKey',
            value: settings.reCAPTCHASiteKey,
            required: true,
            warning: 'reCAPTCHASiteKey' in overrides ? macros.configWarning('reCAPTCHASiteKey'),
            errors: settings.getErrors('reCAPTCHASiteKey')
        }) }}

        {{ forms.textField({
            label: "Callback name"|t,
            id: 'reCAPTCHACallbackName',
            name: 'reCAPTCHACallbackName',
            instructions: 'The name of a globally defined javascript function to call when the reCAPTCHA script has finished loading.'|t,
            value: settings.reCAPTCHACallbackName,
            required: true,
            warning: 'reCAPTCHACallbackName' in overrides ? macros.configWarning('reCAPTCHACallbackName'),
            errors: settings.getErrors('reCAPTCHACallbackName')
        }) }}

        <p>Include this code where you want to instantiate reCAPTCHA :</p>
        {{ forms.textAreaField({
            id: 'reCAPTCHACallExample',
            value: "{{ craft.tarteaucitron.reCAPTCHA({
    htmlAttributes: YOUR_HTML_OPTIONS  {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
