{% embed "tarteaucitron-js/settings/service" with {"id": "twitter"} %}
    {% import "_includes/forms" as forms %}
    {% import "tarteaucitron-js/settings/macros" as macros %}

    {% block name %}
        {% if 'isTwitterEnabled' in overrides %}
           <div class="info warning">{{ macros.configWarning('isTwitterEnabled') }}</div>
        {% endif %}
        Twitter
    {% endblock %}

    {% block enable %}
        {{ forms.lightswitchField({
            id:       'isTwitterEnabled',
            name:     'isTwitterEnabled',
            on:       settings.isTwitterEnabled,
            toggle:   true,
            errors:   settings.getErrors('isTwitterEnabled'),
            disabled: 'isTwitterEnabled' in overrides,
        }) }}
    {% endblock %}

    {% block options %}
        <p>Include this code where you want to display a Twitter follow button:</p>
        {{ forms.textAreaField({
            id: 'twitterFollowButtonCallExample',
            value: "
{{ craft.tarteaucitron.twitterFollowButton({
    username:       'USERNAME',
    isLarge:        true|false,          {# not required #}
    showCount:      true|false,          {# not required #}
    showScreenName: true|false,          {# not required #}
    lang:           'fr'|'es'…,          {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}

        <p>Include this code where you want to display a Twitter share button:</p>
        {{ forms.textAreaField({
            id: 'twitterShareButtonCallExample',
            value: "
{{ craft.tarteaucitron.twitterShareButton({
    via:      'USERNAME',                {# not required #}
    isLarge:  true|false,                {# not required #}
    url:      'https://example.com',     {# not required #}
    text:     'Tweet placeholder text',  {# not required #}
    hashtags: 'hashtag1,hasgtag2',       {# not required #}
    related:  'user1,user2'…,            {# not required #}
    lang:     'fr'|'es'…,                {# not required #}
}) }}",
            rows: 1,
            disabled: true
        }) }}
    {% endblock %}
{% endembed %}
